version: '3.9'
networks:
  application:
    name: application
services:
  backend-python:
    image: mihmood/backend-python:latest
      #build: .
      #context: backend-python/
      #context: backend-dice-class-prj/
      #context: mihmood/microservices-class-prj/backend-python/
      #dockerfile: Dockerfile
    init: true
    deploy:
      replicas: 1
    networks:
    - application
    ports:
    - '9090:8080'
    expose:
      - '9090'
  db:
    image: mysql:8.0.30
    restart: always
    environment:
      MYSQL_DATABASE: 'dbtest'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'mahmood01'
      # You can use whatever password you like
      MYSQL_PASSWORD: '12345'
      # Password for root access
      MYSQL_ROOT_PASSWORD: '12345'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
#    volume: 
#    - /home/ubuntu/dice_working/mysql_container_lab/mysql_vol:/var/lib/mysql
    networks:
    - application

  frontend-app:
    build: .
      #context: 
      #dockerfile: Dockerfile
    init: true
    environment:
      BACKEND_URL: backend-python:8080
    deploy:
      replicas: 1
    networks:
    - application
    ports:
    - "9091:8080"
    depends_on:
    - backend-python
    expose:
      - '9091'
#networks:
#  application:
#    name: application
#volumes:
#  - /home/ubuntu/dice_working/mysql_container_lab/mysql_vol:/var/lib/mysql
#
